# http://EditorConfig.org

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
#end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Solution Files
[*.sln]
indent_style = tab

# XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Configuration Files
[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# C# Files
[*.cs]
indent_style = space
csharp_align_multiline_parameter = true
csharp_align_multiline_extends_list = true
csharp_align_linq_query = true
csharp_place_attribute_on_same_line = false
csharp_empty_block_style = together
csharp_style_namespace_declarations = file_scoped
csharp_style_var_when_type_is_apparent = true
csharp_prefer_braces = when_multiline
dotnet_diagnostic.IDE0011.severity = silent
csharp_style_expression_bodied_constructors = when_on_single_line
csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
dotnet_diagnostic.IDE0046.severity = silent
csharp_style_var_for_built_in_types = false
dotnet_diagnostic.IDE0008.severity = silent
dotnet_diagnostic.IDE0055.severity = silent
dotnet_diagnostic.IDE0045.severity = silent
dotnet_diagnostic.MA0071.severity = silent

# Ignore missing trailing comma on catch-all arms in switch expressions
MA0007.IgnoreCatchAllArm = true
